@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    letter-spacing: 1px;
}

body {
    display: flex;
}

.container {
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #e3e5e8;
}

.container h1 {
    margin: 15px;
}

.cadastro-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfff8;
}

.cadastro-img img {
    width: 31rem;
}

.cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBEDF3;
    padding: 30px;
}

.selo {
    background-image: url('img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 5rem;
    height: 4.5rem;
    position: absolute;
    top: 50px;
    left: 50px;
    }

.cadastro h1 {
    font-size: 2rem;
    border-bottom: #000000;
    font-family:"Poppins", sans-serif;
}

.cadastro h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #000000;
    margin: 0 auto;
    position: absolute;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family:"Poppins", sans-serif;
    margin: 1rem;
}

.input-box label {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    cursor: auto;
}

.input-box input {
    background-color: #fff;
    width: 110%;
    margin: 0.6rem 0;
    padding: 0.6rem 3rem;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.9rem;
    border-radius: 5px;
}

.input-box input:hover {
    background-color: #cfe6fa;
}

.input-box ::placeholder {
    color: #000000;
    font-size: 0.9rem;
}

.cadastro button {
    width: 140%;
    border: 1px solid #000000;
    background-color: #9ECBF2;
    padding: 0.70rem;
    font-family:"Poppins", sans-serif;
    font-size: 90%;
    border-radius: 8px;
    margin: 10% 0;
    cursor: pointer;
}

.cadastro button:hover {
    background-color: #ffffff;
}   

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.login h2 {
    font-family:"Poppins", sans-serif;
    font-size: 1.2rem;
    white-space: nowrap;
    margin-right: 10%;
}

.login h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #000000;
    margin: 0 auto;
    position: absolute;
}

.login button {
    width: 50%;
    margin: 1rem;
    border: 1px solid #000000;
    background-color: #9ECBF2;
    padding: 0.60rem;
    font-family:"Poppins", sans-serif;
    font-size: 80%;
    border-radius: 7px;
    white-space: nowrap
}

.login button:hover {
    background-color: #ffffff;
}

.cadastro button a,
.login button a {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .cadastro-img {
        width: 100%;
    }

    .cadastro {
        width: 100%;
    }

    .selo {
        top: 20px;
        right: 20px;
    }

    .input-box input {
        width: 100%;
    }

    .input-group button {
        width: 100%;
    }

    .login button {
        width: 100%;
    }
}