@charset "UTF-8";

/* Cabeçalho */
header {
    background-color: #878784;
    color: white;
    padding: 5px; 
    height: 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
}

/* Estilo página */ 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* Logo empresa */
.logo {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

/* Campo busca */
.search-container {
    display: flex;
    justify-content: flex-end;
}

input[type="text"] {
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 25%;
}

button {
    padding: 5px 10px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #f2f2f2;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

/* Imagem fundo */ 
.cover-image {
    width: 1260px;
    height: 312px;
    overflow: hidden; 
}

.cover-image img {
    width: 100%; 
    height: auto; 
}

/* Divider */
.line {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; 
    padding: 5px;
    background-color: #878784;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Container Opções */ 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.box-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 50px;
    padding: 50px;
    border-radius: 10px;
}

.box {
    background-color: #878784;
    color: white;
    font-style: inherit;
    border: 1px solid #ced4da;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    flex-grow: 1; 
}



